mixin main-nav(selected)

  -
    var menu = {
      'home': 'index.html',
      'work': 'error-page.html',
      'about': 'error-page.html',
      'blog': 'error-page.html',
      'services': 'error-page.html',
      'contact': 'error-page.html'
    };
  button(type="button").main-nav__btn menu
  nav.main-nav
    ul.main-nav__list
      each val, key in menu
        li(class= selected.toLowerCase() === key.toLowerCase() ? 'main-nav__item  main-nav__item--active' : 'main-nav__item')
          a(href=val, title=key)= key
