// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-nav {

  @media screen and (max-width: $screen-md) {
    display: none;
  }

  &--open {
    @media screen and (max-width: $screen-md) {
      display: block;
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    height: 3.22vmax;
    background: linear-gradient(to bottom, #333b3f 0%,#2e363a 100%);
    border-bottom: 1px solid #293034;

    @media screen and (max-width: $screen-md) {
      height: 6vmax;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      height: 4.5vmax;
    }

    &:hover,
    &:focus {
      background: linear-gradient(to bottom, #18a3a1 0%,#31bcba 100%);
      border-bottom: 1px solid #169291;
    }
  }

  &__item a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-right: 1.3vmax;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.93vmax;
    line-height: 1.66vmax;

    @media screen and (max-width: $screen-md) {
      justify-content: center;
      font-size: 2.5vmax;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      font-size: 2vmax;
      padding-right: 2.5vmax;
    }
  }

  &__item--active {
    background: linear-gradient(to bottom, #18a3a1 0%,#31bcba 100%);
  }

  &__btn {
    display: none;

    @media screen and (max-width: $screen-md) {
      display: block;
      font-size: 3vmax;
      color: #fff;
      padding: 3vw;
      width: 100%;
      border: none;
      outline: none;
      text-transform: uppercase;
      background-color: #293034;
    }
  }

}
