mixin work-list()
  section.work-list
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__mishka.jpg")
        .work-list__item-back.work-list__item-back--mishka
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Мишка"
            h3.work-list__item-desc Интернет-магазин
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__sedona.jpg")
        .work-list__item-back.work-list__item-back--sedona
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Седона"
            h3.work-list__item-desc Сайт по поиску гостиниц в Седона
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__keksobooking.jpg")
        .work-list__item-back.work-list__item-back--keksobooking
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Кексобукинг"
            h3.work-list__item-desc Сайт по поиску жилья
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__portfolio.jpg")
        .work-list__item-back.work-list__item-back--portfolio
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Портфолио"
            h3.work-list__item-desc Мой личный сайт-портфолио
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__guessmelody.png")
        .work-list__item-back.work-list__item-back--guessmelody
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Угадай мелодию"
            h3.work-list__item-desc Игра на чистом JS
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    <!-- DEV просто заполняют проекты -->
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__mishka.jpg")
        .work-list__item-back.work-list__item-back--mishka
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Мишка"
            h3.work-list__item-desc Интернет-магазин
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__sedona.jpg")
        .work-list__item-back.work-list__item-back--sedona
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Седона"
            h3.work-list__item-desc Сайт по поиску гостиниц в Седона
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__keksobooking.jpg")
        .work-list__item-back.work-list__item-back--keksobooking
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Кексобукинг"
            h3.work-list__item-desc Сайт по поиску жилья
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__portfolio.jpg")
        .work-list__item-back.work-list__item-back--portfolio
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Угадай мелодию"
            h3.work-list__item-desc Игра на чистом JS
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__guessmelody.png")
        .work-list__item-back.work-list__item-back--guessmelody
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Угадай мелодию"
            h3.work-list__item-desc Игра на чистом JS
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__mishka.jpg")
        .work-list__item-back.work-list__item-back--mishka
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Мишка"
            h3.work-list__item-desc Интернет-магазин
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__sedona.jpg")
        .work-list__item-back.work-list__item-back--sedona
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Седона"
            h3.work-list__item-desc Сайт по поиску гостиниц в Седона
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__keksobooking.jpg")
        .work-list__item-back.work-list__item-back--keksobooking
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Кексобукинг"
            h3.work-list__item-desc Сайт по поиску жилья
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__portfolio.jpg")
        .work-list__item-back.work-list__item-back--portfolio
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Угадай мелодию"
            h3.work-list__item-desc Игра на чистом JS
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")
    article
      .work-list__item(tabindex="1")
        .work-list__item-front
          img.work-list__item-img(src="img/project__guessmelody.png")
        .work-list__item-back.work-list__item-back--guessmelody
          a.work-list__item-link(href="#")
            h2.work-list__item-title Проект "Угадай мелодию"
            h3.work-list__item-desc Игра на чистом JS
            svg.work-list__item-icon
              use(xlink:href="img/sprite-svg.svg#right-arrow")


