mixin header-social()
  section.header-social

    .header-social__wrapper
      a.header-social__link(href="#")
        svg.header-social__icon
          use(xlink:href="img/sprite-svg.svg#viber")
      a.header-social__link(href="#")
        svg.header-social__icon
          use(xlink:href="img/sprite-svg.svg#twitter")
      a.header-social__link(href="#")
        svg.header-social__icon
          use(xlink:href="img/sprite-svg.svg#telegram")
      a.header-social__link(href="#")
        svg.header-social__icon
          use(xlink:href="img/sprite-svg.svg#skype")
      a.header-social__link(href="#")
        svg.header-social__icon
          use(xlink:href="img/sprite-svg.svg#linkedin")
      a.header-social__link(href="#")
        svg.header-social__icon
          use(xlink:href="img/sprite-svg.svg#google-plus")
    button(type="button").header-social__btn
      svg.header-social__btn-icon
        use(xlink:href="img/sprite-svg.svg#share-icon")
  p.header-social__copyright © 2018 ST, All Rights Reserved

