// В этом файле должны быть стили для БЭМ-блока filter-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-block {

  position: relative;

  @media screen and (max-width: $screen-md) {
    //display: none;
  }

   &__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.25vmax;
    background-color: transparent;
    border: none;
    border-top: 1px solid #1e282b;
    cursor: pointer;
    color: #1ab5b3;
    fill: #1ab5b3;
    font-size: 0.98vmax;
    transition: .5s;

    @media screen and (max-width: $screen-md) {
      justify-content: center;
      padding: 2vmax;
      font-size: 3vmax;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      font-size: 1.8vmax;
    }

    &:hover,
    &:focus {
      color: #1e5352;
      fill: #1e5352;
    }
  }

  &__icon {
    width: 0.9vmax;
    height: 0.9vmax;
    margin-left: 0.62vmax;

    @media screen and (max-width: $screen-md) {
      width: 2.5vmax;
      height: 2.5vmax;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      width: 2.5vmax;
      height: 2.5vmax;
    }
  }

}
