mixin love-block()
  div.love-block
    div.love-block__text
      h1 дорогая моя дашулька
      h2 я тебя очень сильно люблю !!!
      svg(width="300", height="300").love-block__icon
        use(xlink:href="img/sprite-svg.svg#donation")
      h3 у меня для тебя сюрприз
      p жду тебя в кабинете
