// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 11vmax;
  background-color: #fff;

  @media screen and (max-width: $screen-lg) {
    min-height: 20vh;
  }

  @media (min-width: $screen-lg) {
    min-height: 11vh;
  }

  &__svg {
    width: 7vw;

    @media screen and (max-width: $screen-md) {
      width: 35vw;
    }

    @media (min-width: $screen-md) and (max-width: $screen-lg) {
      width: 17vw;
    }
  }

  &__svg fill {
    background-color: red;
  }
}
