// В этом файле должны быть стили для БЭМ-блока page-error, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-error {

  width: 100%;
  min-height: 100vh;
  padding-left: 15.62vw;

  @media screen and (max-width: $screen-md) {
    padding: 0;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
    padding-top: 0;
  }

  &__icon {
    width: 60vmax;
    height: 60vmax;
  }

}
