//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/header/header.pug
include blocks/logo/logo.pug
include blocks/header-social/header-social.pug
include blocks/content/content.pug
include blocks/work-list/work-list.pug
include blocks/work-card/work-card.pug
include blocks/filter-block/filter-block.pug
include blocks/filter-list/filter-list.pug
